# Virtual Environment
.venv/

# Environment Variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
instance/

# VSCode
.vscode

# Node Modules
node_modules/